<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantyAssistantManagerApp.pairingRequest.home.title">Pairing Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pairing-request" [routerLink]="['/pairing-request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantyAssistantManagerApp.pairingRequest.home.createLabel">
            Create new Pairing Request
            </span>
        </button>
    </h2>
    <pam-alert></pam-alert>
    <br/>
    <div class="table-responsive" *ngIf="pairingRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.name">Name</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.verificationCode">Verification Code</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.requestTime">Request Time</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.accepted">Accepted</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.sessionId">Session Id</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.publicKey">Public Key</span></th>
            <th><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.login">Login</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pairingRequest of pairingRequests ;trackBy: trackId">
                <td><a [routerLink]="['/pairing-request', pairingRequest.id, 'view' ]">{{pairingRequest.id}}</a></td>
                <td>{{pairingRequest.name}}</td>
                <td>{{pairingRequest.verificationCode}}</td>
                <td>{{pairingRequest.requestTime | date:'medium'}}</td>
                <td>{{pairingRequest.accepted}}</td>
                <td>{{pairingRequest.sessionId}}</td>
                <td>{{pairingRequest.publicKey}}</td>
                <td>{{pairingRequest.login}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pairing-request', pairingRequest.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pairing-request', pairingRequest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pairing-request/'+ pairingRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
