<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="pam-pairing-request-heading" jhiTranslate="plantyAssistantManagerApp.pairingRequest.home.createOrEditLabel">Create or edit a Pairing Request</h2>
            <div>
                <pam-alert-error></pam-alert-error>
                <div class="form-group" [hidden]="!pairingRequest.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pairingRequest.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="pairingRequest.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.verificationCode" for="field_verificationCode">Verification Code</label>
                    <input type="text" class="form-control" name="verificationCode" id="field_verificationCode"
                        [(ngModel)]="pairingRequest.verificationCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.requestTime" for="field_requestTime">Request Time</label>
                    <div class="d-flex">
                        <input id="field_requestTime" type="datetime-local" class="form-control" name="requestTime" [(ngModel)]="requestTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.accepted" for="field_accepted">Accepted</label>
                    <input type="checkbox" class="form-control" name="accepted" id="field_accepted"
                        [(ngModel)]="pairingRequest.accepted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.sessionId" for="field_sessionId">Session Id</label>
                    <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                        [(ngModel)]="pairingRequest.sessionId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.publicKey" for="field_publicKey">Public Key</label>
                    <input type="text" class="form-control" name="publicKey" id="field_publicKey"
                        [(ngModel)]="pairingRequest.publicKey" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantyAssistantManagerApp.pairingRequest.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="pairingRequest.login" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
